---
import Layout from '../../../layouts/EnglishLayout.astro'
---

<Layout title='Contact'>
    {Array.from({length:5}).map(_=><p>
        <div class="text-9xl mb-12 w-full text-center">UNDER<br>DEVELOPMENT</div>
    </p>)}
</Layout>
