<html>
    <head>
        <title>O-Asis</title>
        <meta charset="utf-8">
    </head>
    <body class="bg-black">
        <div class="h-[100vh] w-full items-center justify-center flex">
            <div class="text-white text-2xl">Under Development</div>
        </div>
    </body>
</html>
