---
import GitHub from '../assets/GitHub.svg'
---
<div class="w-full bg-zinc-800 p-2 px-4 text-zinc-300 grid-cols-2 grid">
    <div>
        <span class="border border-white rounded-full inline-flex items-center justify-center w-12 h-5 text-sm">
            <span class="block">Dev</span>
        </span>
        <span class="inline-flex items-center justify-center text-base">
            Under Development by Yumazu.
        </span>
    </div>
    <div class="flex flex-row-reverse mr-2">
        <a href="https://github.com/yumazu256/O-Asis" class="hover:brightness-110 cursor-pointer outline-none focus:bg-white/20 focus:rounded-full p-1 focus:hover:bg-transparent duration-200">
            <img src={GitHub.src} class="h-8 invert" alt="GitHub">
        </a>
    </div>
</div>
