---
interface Props {
    title?:string,
    en?:boolean
}
const { title,en } = Astro.props
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import Icon from '../assets/Icon.png';
---
<html lang={en?"en":"ja"}>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={`O-Asis`}/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href={Icon.src} />
        <title>O-Asis{title && ` - ${title}`}</title>
        <ViewTransitions fallback='swap'/>
    </head>
    <body class="bg-black text-white text-2xl select-none pt-28 overflow-x-hidden">
        <Header en={en}/>
        <div class="w-full p-2">
            <slot/>
        </div>
        <Footer />
    </body>
</html>
<style>
    body{
        font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    }
</style>
